<div class="home">
  <!-- <div class="container-fluid searchbar py-3">
    <form class="row g-3">
      <div class="col-auto">
        <input
          type="text"
          class="form-control"
          id="inputPassword2"
          placeholder="Password"
        />
      </div>
      <div class="col-auto">
        <button type="submit" class="btn btn-secondary mb-3">Rechercher</button>
      </div>
    </form>
  </div> -->

  <app-map class="map"></app-map>

  <a
    class="btn btn-outline avatar"
    data-bs-toggle="collapse"
    href="#collapseExample"
    role="button"
    aria-expanded="false"
    aria-controls="collapseExample"
  >
    <div class="collapse" id="collapseExample">
      <div class="card card-body">
        <button class="btn btn-sm text-light" (click)="fetchRestaurantVisites()">
          Restaurants consultés
        </button>
        <br />
        <button class="btn btn-sm btn-danger" (click)="signout()">Déconnexion</button>
      </div>
    </div>
    <img
      *ngIf="user.photoURL"
      src="{{ user.photoURL }}"
      alt="avatar"
      class="avatar"
    />
    <img
      *ngIf="user.photoURL == undefined"
      src="https://eu.ui-avatars.com/api/?name={{
        user.displayName ?? user.email
      }}&size=300&background=2979FF&color=fff&bold=true"
      alt="avatar"
      class="avatar"
    />
    <div class="name">
      <span class="firstname">{{ user.displayName ?? user.email }}</span>
    </div>
  </a>
</div>
