<div class="home">
  <div class="container-fluid searchbar py-3">
    <form class="row g-3">
      <div class="col-auto">
        <input
          type="text"
          class="form-control"
          id="inputPassword2"
          placeholder="Password"
        />
      </div>
      <div class="col-auto">
        <button type="submit" class="btn btn-secondary mb-3">Rechercher</button>
      </div>
    </form>
  </div>

  <app-map class="map"></app-map>

  <a
    class="btn btn-outline avatar"
    data-bs-toggle="collapse"
    href="#collapseExample"
    role="button"
    aria-expanded="false"
    aria-controls="collapseExample"
  >
    <div class="collapse" id="collapseExample">
      <div class="card card-body">
        <button class="btn btn-danger">Déconnexion</button>
      </div>
    </div>
    <img
      src="https://media.istockphoto.com/id/1163603961/fr/photo/belle-femme.jpg?s=170667a&w=0&k=20&c=Q25QpSfUyI4C3-BqPNTKbxk0zhQ4pa93jZ-oQp0ZOvY="
      alt="avatar"
      class="avatar"
    />
    <div class="name">
      <span class="firstname">Audrey</span>
      <span class="lastname">Bonaventure</span>
    </div>
  </a>
</div>
<!-- <div>
  <button (click)="signout()" class="btn btn-sm btn-danger">Déconnexion</button>
  <br />
  <br />
  <div class="spinner-border" *ngIf="loading" role="status">
    <span class="sr-only" id="loading"></span>
  </div>
  <table class="table" id="tab" *ngIf="lis">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Position</th>
        <th scope="col">Office</th>
        <th scope="col">Salary</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let e of lis.list">
        <td>{{ e.name }}</td>
        <td>{{ e.office }}</td>
        <td>{{ e.position }}</td>
        <td>{{ e.salary }}</td>
      </tr>
    </tbody>
  </table>
</div> -->
