<div class="d-flex justify-content-center">
  <form
    (submit)="resetPassword()"
    [formGroup]="resetForm"
    class="col-6 col-lg-4 my-5"
  >
    <h1 class="text-center">Nouveau mot de passe</h1>
    <div class="mb-3">
      <label for="email" class="form-label">Nouveau mot de passe</label>
      <input
        type="password"
        formControlName="password"
        name="email"
        placeholder="Email"
        class="form-control"
        id="email"
      />
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Confirmer le mot de passe</label>
      <input
        type="password"
        name="password"
        formControlName="cpassword"
        id="password"
        class="form-control"
        placeholder="Password"
      />
    </div>
    <button class="btn btn-primary col-12 mb-3" type="submit">
      Mettre à jour
    </button>
    <div class="mb-3 text-center">
      <label class="form-check-label"
        ><a routerLink="/login">Retour à la connexion</a></label
      >
    </div>
    <div *ngIf="res" class="alert alert-warning mt-5" role="alert">
      {{ res }}
    </div>
    <div *ngIf="warning" class="alert alert-warning mt-5" role="alert">
      {{ warning }}
    </div>
    <div *ngIf="err" class="alert alert-danger mt-5" role="alert">
      {{ err }}
    </div>
  </form>
</div>
