<div class="d-flex justify-content-center">
  <form
    (submit)="resetPassword()"
    [formGroup]="loginForm"
    class="col-6 col-lg-4 my-5"
  >
    <h3 class="text-center">Réinitialisation</h3>
    <div class="mt-5 mb-3">
      <input
        type="email"
        formControlName="email"
        name="email"
        placeholder="Email"
        class="form-control"
        id="email"
      />
    </div>
    <button class="btn btn-primary col-12 mb-3" type="submit">
      Reinitialiser
    </button>
    <div class="mb-3 text-center">
      <label class="form-check-label"
        ><a routerLink="/login">Retour à la connexion</a></label
      >
    </div>
    <div *ngIf="res" class="alert alert-success mt-5" role="alert">
      {{ res }}
    </div>
    <div *ngIf="warning" class="alert alert-warning mt-5" role="alert">
      {{ warning }}
    </div>
    <div *ngIf="err" class="alert alert-danger mt-5" role="alert">
      {{ err }}
    </div>
  </form>
</div>
